extends layout

block content
  h1= title
  p Welcome to #{title}

  h3 This is another project part of the backend certification at freeCodeCamp.
  p Here is an example of a new image search (offset allows pagination)
  code https://kg-fcc-imagesearch.herokuapp.com/api/imagesearch/cute%20puppy?offset=10
  p To view the ten most recent searches 
  code https://kg-fcc-imagesearch.herokuapp.com/api/latest/imagesearch
